<!DOCTYPE html>
<html>
<body>
    <h1 style="color: blue">Login Page for Steven Tieu's Boats and Loads Final Project CS493</h1>
    <p>Click the button below to create a new User account or login to an<br>
    existing User account. After creating a new User account or logging into<br>
    an existing User account, the unique ID and JSON Web Token(JWT) for that<br>
    account will be displayed. The JWT token can be used as a Bearer token<br>
    for authorization purposes when using/testing the API.</p>
    <a href="https://boat-load-api-stieu.wl.r.appspot.com/login"><button type="button">Login/sign-up</button></a>    
</body>
</html>
</DOC>